<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <%- include('./partials/header')  %>  
    <figure class="logo">
      <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <h1><%= title %></h1>
    <div class="box_list">
      <p>Bienvenidos a <%= title %></p>
    </div>
  </body>
</html>
